services:
  # Mongodb service
  mongo:
    container_name: mongodb
    image: mongo:latest
    restart: always
    volumes:
      - mongo_data:/data/db

  # Node api service
  api:
    build: .
    ports:
      # local->container
      - 4000:3000
    environment:
      PORT: 3000
      MONGODB_URI: mongodb://mongo:27017
      DB_NAME: sample-db
    depends_on:
      - mongo

volumes:
  mongo_data: {}