.App {
  text-align: center;
}

.App-logo {
  height: 75vmin;
  pointer-events: none;
  z-index: 2;
}

.App-header {
  position:relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.Eye-container {
  position: absolute;
  z-index: 3;
  height: 75vmin;
}

.Eye {
  position: relative;
  height: 75vmin;
}

@keyframes spotlight {
  from {r: 5%; }
  to {r: 400%; }
}

.bigTitle {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 15vw;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2vh;
  line-height: 33vh;
  padding-bottom: 3vh;
}

.medTitle {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 6.5vw;
}

.Spotlight {
  position: absolute;
  /*height: 15vh;*/
  z-index: 0;
  /*overflow:hidden;*/
  /*animation-name: spotlight;*/
  /*animation-fill-mode: forwards;*/
  /*animation-duration: 1.5s;*/
  /*will-change: transform;*/
}

.circle {
  animation-name: spotlight;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  will-change: transform;
  r: 5%;
}

.App-link {
  color: #61dafb;
}

.About-button {
  position: absolute;
  top: 9%;
  left: 53%;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 1vmin;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.Things-button {
  position: absolute;
  top: 60%;
  left: 15%;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 1vmin;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.Projects-button {
  position: absolute;
  top: 80%;
  left: 70%;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 1vmin;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}


.Button-text {
  color: black;
  font-family: "League Spartan", sans-serif;
}

.Hint-text {
  position:absolute;
  top: 90%;
  color: lightgray;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}